<div class="row card">
  <h3 class="card-header text-primary">{{note.title}}</h3>
  <div class="card-block">
    <p *ngIf="note.category" class="card-text"><span class="font-weight-bold">Note Category</span>: <span class="text-primary">{{note.category}}</span></p>
    <p *ngIf="note.engagement" class="card-text"><span class="font-weight-bold">Engagement</span>: <span class="text-primary">{{note.engagement}}</span></p>
    <p *ngIf="note.posture" class="card-text"><span class="font-weight-bold">Starting Posture</span>: <span class="text-primary">{{note.posture}}</span></p>
    <p *ngIf="note.offensivePosition" class="card-text"><span class="font-weight-bold">Offensive Position</span>: <span class="text-primary">{{note.offensivePosition}}</span></p>
    <p *ngIf="note.guard" class="card-text"><span class="font-weight-bold">Guard</span>: <span class="text-primary">{{note.guard}}</span></p>
    <p *ngIf="note.sweep" class="card-text"><span class="font-weight-bold">Sweep</span>: <span class="text-primary">{{note.sweep}}</span></p>
    <p *ngIf="note.submission" class="card-text"><span class="font-weight-bold">Submission</span>: <span class="text-primary">{{note.submission}}</span></p>
    <p class="card-text">{{note.description}}</p>
    <p *ngIf="note.published" class="card-text"><span class="font-weight-bold">Note Published</span>: <span class="text-primary">Yes</span></p>
    <div class="small mt-1 mb-3">
      Created: {{note.created}}<span *ngIf="note.updated">  -- Updated: {{note.updated}}</span>
    </div>
    <button type="button" class="btn btn-primary" (click)="destroyNote(note.id)" *ngIf="isLoggedIn && userId == note.uid">Delete</button>
    <a class="btn btn-primary" [routerLink]="['/note-edit', note.id]" *ngIf="isLoggedIn && userId == note.uid">Edit</a>
    <a class="btn btn-secondary" href="" role="button">Back</a>
    <br />
    <div class="alert alert-danger" *ngIf="errorMessage != null">{{ errorMessage }}</div>
    <hr style="width: 100%; background-color: black; height: 1px; border-color : transparent;" />
    <div class="mt-3" *ngFor="let video of results; let i = index">
      <h5><a target="_blank" href="https://www.youtube.com/watch?v={{video.id.videoId}}">{{video.snippet.title}}</a></h5>
      <p>{{video.snippet.description}}</p>
      <a target="_blank" href="https://www.youtube.com/watch?v={{video.id.videoId}}"><img [src]="video.snippet.thumbnails.default.url"/></a>
      <hr style="border: 1px dashed #D3D3D3;" />
    </div>
  </div>

</div>
