<h2>Detail of a Note</h2>
<div class="form-group row">
  <label class="col-2 col-form-label">ID</label>
  <div class="col-10 text-primary">
    {{note.id}}
  </div>
</div>
<div class="form-group row">
  <label class="col-2 col-form-label">Title</label>
  <div class="col-10 text-primary">
    {{note.title}}
  </div>
</div>
<div class="form-group row">
  <label class="col-2 col-form-label">Description</label>
  <div class="col-10 text-primary">
    {{note.description}}
  </div>
</div>

<button type="button" class="btn btn-primary" (click)="destroyNote(note.id)">Delete</button>
  <a class="btn btn-primary" [routerLink]="['/note-edit', note.id]">Edit</a>
  <a class="btn btn-secondary" href="" role="button">Back</a>
  <br />
  <div class="alert alert-danger" *ngIf="errorMessage != null">{{ errorMessage }}</div>
