<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="">{{title}}</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/note-list']">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/note-form']" >Create</a>
      </li>
    </ul>
  </div>
  <div class="navbar-header navbar-right">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/login']" *ngIf="!isLoggedIn">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()" [routerLink]="['/note-list']" *ngIf="isLoggedIn">Logout</a>
    </li>
    <li class="nav-item">
      <a style="min-width: 200px;" class="nav-link" [routerLink]="['/profile']" *ngIf="isLoggedIn">Hi {{(user$ | async)?.displayName}}</a>
    </li>
  </ul>
</div>
</nav>

<div class="container">
  <div class="jumbotron">
    <router-outlet></router-outlet>
  </div>
</div>


