<h4>Number of Notes on Site: {{nbNotes}}</h4>
<div class="row card-group">
    <div class="col-6"  *ngFor="let note of notes | paginate: {itemsPerPage:4, currentPage: p }">
      <div class="card">
        <h3 class="card-header"><a [routerLink]="['/note-detail', note.id]">{{note.title}}</a></h3>
        <div class="card-block">
          <strong>Description</strong>: {{ note.description.substring(0, 100)}}{{note.description.length > 100 ? '...' : ''}}
          <div class="small mt-1">
          Created: {{note.created}}<span *ngIf="note.updated">  -- Updated: {{note.updated}}</span>
          </div>
        </div>
      </div>
      <br />
     </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

