<h5>Document a Dose</h5>
<form (ngSubmit)="submitNewNote()" #noteForm="ngForm" class="editForm" novalidate>
   <div class="form-group row">
    <label for="title" class="col-2 col-form-label">Title</label>
    <div class="col-10">
      <input class="form-control" type="text" [(ngModel)]="note.title" name="title" id="title">
    </div>
  </div>
  <div class="form-group row">
    <label for="category" class="col-2 col-form-label">Note Category</label>
    <div class="col-10">
      <select class="form-control" [(ngModel)]="note.category" name="category" id="category" >
        <option value=""></option>
        <option *ngFor="let category of categories.names"  [value]="category">{{category}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="engagement" class="col-2 col-form-label">Engagement</label>
    <div class="col-10">
      <select class="form-control" [(ngModel)]="note.engagement" name="engagement" id="engagement" >
        <option *ngFor="let engagement of engagement.names"  [value]="engagement">{{engagement}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="startingPosition" class="col-2 col-form-label">Starting Posture</label>
    <div class="col-10">
      <select class="form-control" [(ngModel)]="note.posture" name="startingPosition" id="startingPosition" >
        <option *ngFor="let posture of postures.names"  [value]="posture">{{posture}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="offensivePosition" class="col-2 col-form-label">Offensive Position</label>
    <div class="col-10">
      <select class="form-control" [(ngModel)]="note.offensivePosition" name="offensivePosition" id="offensivePosition" >
        <option *ngFor="let position of offensivePositions.names"  [value]="position">{{position}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="guard" class="col-2 col-form-label">Guard</label>
    <div class="col-10">
      <select class="form-control" [(ngModel)]="note.guard" name="guard" id="guard" >
        <option *ngFor="let guard of guards.names"  [value]="guard">{{guard}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="sweep" class="col-2 col-form-label">Sweep</label>
    <div class="col-10">
      <select class="form-control" [(ngModel)]="note.sweep" name="sweep" id="sweep" >
        <option *ngFor="let sweep of sweeps.names"  [value]="sweep">{{sweep}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="submission" class="col-2 col-form-label">Submission</label>
    <div class="col-10">
      <select class="form-control" [(ngModel)]="note.submission" name="submission" id="submission" >
        <option *ngFor="let submission of submissions.names"  [value]="submission">{{submission}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="description" class="col-2 col-form-label">Description</label>
    <div class="col-10">
      <textarea class="form-control" rows="7" [(ngModel)]="note.description" name="description" id="description"></textarea>
    </div>
  </div>

  <div class="form-group row">
    <label for="published" class="col-2 col-form-label">Make Public?</label>
    <div class="col-10 checkbox" style="margin-top: 12px;">
      <input type="checkbox" class="form-control" [(ngModel)]="note.published" name="published" id="published">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Create</button>
  <a class="btn btn-secondary" [routerLink]="['/note-list']" role="button">Cancel</a>

</form>
