<h2>Create a Note</h2>

<form>
  <div class="form-group row">
    <label class="col-2 col-form-label">ID</label>
    <div class="col-10">
      <input class="form-control" type="text" [(ngModel)]="note.id" name="title">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Title</label>
    <div class="col-10">
      <input class="form-control" type="text" [(ngModel)]="note.title" name="title">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Description</label>
    <div class="col-10">
      <textarea class="form-control" rows="3" [(ngModel)]="note.description" name="description"></textarea>
    </div>
  </div>


  <button type="submit" class="btn btn-primary">Delete</button>
  <a class="btn btn-secondary" [routerLink]="['/note-list']" role="button">Cancel</a>

</form>
